#welcome-game {

    text-align: center;

}

.buttons {

    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}